<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

<main class="main">
  <mat-toolbar class="mainToolbar">
    <span>Zara Shelves Organizer</span>
    <span class="spacer"></span>
    <button mat-icon-button (click)="doZoomIn()" [disabled]="zoom === 6"><mat-icon>zoom_in</mat-icon></button>
    <button mat-icon-button (click)="doZoomOut()" [disabled]="zoom <= 2"><mat-icon>zoom_out</mat-icon></button>
    <button mat-raised-button (click)="saveConfiguration()" [disabled]="!canSaveShelves()" color="primary">Guardar configuración</button>
  </mat-toolbar>
  <div class="content" cdkDropListGroup>
    <zara-shelf
      style="transform: scale({{zoom/6}});"
      [(shelves)]="shelves"
      [templates]="templates"
    ></zara-shelf>
  </div>
  <footer>
    <mat-toolbar>
      <button mat-raised-button (click)="addShelf()" color="accent">Añadir estante</button>
    </mat-toolbar>
  </footer>
</main>
